:root {
  --init_img_height: 667px;
  --img_height: 667px;
  --pic_height: 500px;
  --const_width: 500px;
  font-family: Broadway, serif;
}

html { box-sizing: border-box }

.icon {
  width: 70px;
  height: 70px;
  margin: .5em;
}

.sprite {
  width: fit-content;
  margin: auto;
}

.picture {
  width: var(--const_width);
  height: var(--pic_height);
  position: relative;
  overflow: hidden;
  margin: auto;
}

.catimg {
  width: var(--const_width);
  height: var(--img_height);
  object-fit:cover;
  position: absolute;
  margin-top: calc(-1*var(--img_height)/8);
}

.slide2 {
  filter: sepia(70%);
}

.slide3 {
  filter: hue-rotate(180deg);
}

.slide4 {
  filter: grayscale(100%);
}

.slide5 img {
  filter: blur(2px);
}

.slide6 img {
  filter: drop-shadow(5px 5px 10px red) invert(75%);
}

#slide2:checked ~ .picture .catimg {
  animation: anim2 1s forwards;
}

@keyframes anim2 {
  to {
    filter: sepia(70%);
  }
}

#slide3:checked ~ .picture .catimg {
  animation: anim3 1s forwards;
}

@keyframes anim3 {
  to {
    filter: hue-rotate(180deg);
  }
}

#slide4:checked ~ .picture .catimg {
  animation: anim4 1s forwards;
}

@keyframes anim4 {
  to {
    filter: grayscale(100%);
  }
}

#slide5:checked ~ .picture .catimg {
  animation: anim5 1s forwards;
}

@keyframes anim5 {
  to {
    filter: blur(2px);
  }
}

#slide6:checked ~ .picture .catimg {
  animation: anim6 1s forwards;
}

@keyframes anim6 {
  to {
    filter: drop-shadow(5px 5px 10px red) invert(75%);
  }
}

.filters {
  width: 606px; /* 4 * 150 + 3 * 2 */
  height: 200px;
  overflow: hidden;
  margin: auto;
}

.footer {
  margin: auto;
  width: fit-content;
  position: relative;
}

.left,
.filters,
.right {
  display: inline-block;
}

.left,
.right {
  visibility: hidden;
  position: absolute;
  font-size: 4rem;
  top: calc(20px + (150px / 2) - (4rem / 2))
  /*
  20px - height of text, 150 px - height of img, 4rem - height of arrow
  */
}

.left {
  left: calc((100% - 606px) / 2 - 40px);
  /*606 is the .filters' length (so (100% - 606 px)/2 is space between left border and filters),
   32px is .left's length, 8px "margin"*/
}

.right {
  right: calc((100% - 606px) / 2 - 40px);
  /*the same as with left*/
}

.slider {
  width: 0;
  position: relative;
}

.slider label {
  height: inherit;
}

.slides {
  height: fit-content;
  width: fit-content;
  display: inline;
  text-align: center;
  z-index: 0;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slides {
  position: absolute;
}

.slides img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.slides .name {
  visibility: visible;
  font-size: 20px;
  color: #000;
  text-align: center;
  bottom: 60%;
  z-index: 1;
}

.slide1 {
  margin-left: 0;
}

.slide2 {
  margin-left: 152px;
}

.slide3 {
  margin-left: 304px;
}

.slide4 {
  margin-left: 456px;
}

.slide5 {
  margin-left: 608px;
}

.slide6 {
  margin-left: 760px;
}

:checked {
  opacity: 1;
}

#slide1:checked ~ .footer .filters .slider .slide1 .name,
#slide2:checked ~ .footer .filters .slider .slide2 .name,
#slide3:checked ~ .footer .filters .slider .slide3 .name,
#slide4:checked ~ .footer .filters .slider .slide4 .name,
#slide5:checked ~ .footer .filters .slider .slide5 .name,
#slide6:checked ~ .footer .filters .slider .slide6 .name {
  font-weight: bold;
}

#slide5:checked ~ .footer .filters .slider {
  transform: translate(-152px)
}

#slide6:checked ~ .footer .filters .slider {
  transform: translate(-304px)
}

:checked ~ .footer .filters .slider {
  transition: all 2s ease-in-out;
}

#slide1:checked ~ .footer .left,
#slide6:checked ~ .footer .right {
  opacity: 0.3;
}

#slide1:checked ~ .footer .l1,
#slide1:checked ~ .footer .r1,
#slide2:checked ~ .footer .l2,
#slide2:checked ~ .footer .r2,
#slide3:checked ~ .footer .l3,
#slide3:checked ~ .footer .r3,
#slide4:checked ~ .footer .l4,
#slide4:checked ~ .footer .r4,
#slide5:checked ~ .footer .l5,
#slide5:checked ~ .footer .r5,
#slide6:checked ~ .footer .l6,
#slide6:checked ~ .footer .r6 {
  visibility: visible;
}

input {
  display: none;
}

.sq,
.size,
.rot,
.mir,
.res {
  visibility: hidden;
}

.squared,
.size2,
.size3,
.size4,
.r_left,
.r_down,
.r_right,
.mirrored,
.norm {
  margin-left: calc(-74px - 1em);
}

#not_squared:checked ~ .picture .catimg {
  margin-top: 0;
  object-fit: contain;
  height: var(--pic_height);
}

#not_squared:checked ~ .sprite .squared,
#squared:checked ~ .sprite .not_squared {
  visibility: visible;
}

#size2:checked ~ .picture {
  --img_height: 800px;
}

#size3:checked ~ .picture {
  --img_height: 960px;
}

#size4:checked ~ .picture {
  --img_height: 1152px;
}

#size1:checked ~ .sprite .size2,
#size2:checked ~ .sprite .size3,
#size3:checked ~ .sprite .size4,
#size4:checked ~ .sprite .size1 {
  visibility: visible;
}

#left:checked ~ .picture,
#left:checked ~ .footer .filters .slider .slides img {
  transform: rotate(-90deg);
}

#down:checked ~ .picture,
#down:checked ~ .footer .filters .slider .slides img {
  transform: rotate(-180deg);
}

#right:checked ~ .picture,
#right:checked ~ .filters_img {
  transform: rotate(-270deg);
}

#up:checked ~ .picture,
#up:checked ~ .filters_img {
  transform: rotate(0);
}

:checked ~ .picture {
  transition: all 0.5s ease-in-out;
}

#up:checked ~ .sprite .r_left,
#left:checked ~ .sprite .r_down,
#down:checked ~ .sprite .r_right,
#right:checked ~ .sprite .r_up {
  visibility: visible;
}

#mirrored:checked ~ .picture,
#mirrored:checked ~ .filters_img {
  transform: rotateY(180deg);
}

#not_mirrored:checked ~ .sprite .mirrored,
#mirrored:checked ~ .sprite .not_mirrored {
  visibility: visible;
}

#logo:checked ~ .picture .catimg {
  height: var(--init_img_height);
  object-fit:cover;
  margin-top: calc(-1*var(--init_img_height)/8);
  animation: anim1 1s forwards;
}

@keyframes anim1 {
  to {
    filter: none;
  }
}

#logo:checked ~ .picture,
#logo:checked ~ .picture .catimg,
#logo:checked ~ .filters_img {
  transform: revert;
}

#logo:checked ~ .sprite .norm,
#norm:checked ~ .sprite .logo {
  visibility: visible;
}

#logo:checked ~ .sprite .norm .icon {
  background-color: chartreuse;
}

.slider {
  margin: 2px 0;
  padding: 0;
}
